*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
   
    color: #000000;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px #dddcdc;
}
.logo{
    margin-left:20px;
    width:50px;
    height: 40px;
}
#logo{
    width: 100%;
    height: 100%;
   
    background-image: url(images/myntra_logo.webp);
    background-size: cover;
}
.nav{
    display: flex;
    min-width: 500px;
    justify-content: space-between;

}
.nav a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 25px;
    border-bottom: solid 5px whitesmoke;
}
.nav a:hover{
    border-bottom: solid 4px rgb(163, 85, 236);
    border-radius: 2px;
}
.nav sup{
    color:#ff3f6c;
    font-size: 10px;
}
.search{
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
}
.searchicon{
    height: 17px;
    padding: 7px;
    background-color: white;
    box-sizing: content-box;
    border-radius: 5px 5px 0px 5px;
}
.search input{
    padding: 7px;
    color: #696e79;
    flex-grow: 1;
    height: 30px;
    border: 0;
}
.action_bar{
    display: flex;
   flex-direction: column;
   margin-right: 20px;
}
.icon{
    display: flex;
    justify-content: space-around;
}
#sp1{
    margin-left: 5px;
    margin-right: 10px;
}
#sp2{
    margin-right: 10px;
}
#sp3{
    margin-right: 15px;
}

.banner{
    margin-top: 50px;
    margin-bottom: 80px;
    background-image: url(images/banner.webp);
    background-size: cover;
    height: 335px;
}
.h1{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 20px;
}
.medal_brand{
    display: flex;
}

.mb{
    margin-top: 80px;
    height: 280px;
    width: 210px;
    margin-bottom: 80px;
    
}
#mb1{
    background-image: url(images/mb/1.webp);
    background-size: cover;
}
#mb2{
    background-image: url(images/mb/2.webp);
    background-size: cover;
}
#mb3{
    background-image: url(images/mb/3.webp);
    background-size: cover;
}
#mb4{
    background-image: url(images/mb/4.webp);
    background-size: cover;
}
#mb5{
    background-image: url(images/mb/5.webp);
    background-size: cover;
}
#mb6{
    background-image: url(images/mb/6.webp);
    background-size: cover;
}
.h2{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 20px;
}
.global_brand{
    display: flex;
}
#gb1{
    background-image: url(images/gb/1.webp);
    background-size: cover;
}
#gb2{
    background-image: url(images/gb/2.webp);
    background-size: cover;
}
#gb3{
    background-image: url(images/gb/3.webp);
    background-size: cover;
}
#gb4{
    background-image: url(images/gb/4.webp);
    background-size: cover;
}
#gb5{
    background-image: url(images/gb/5.webp);
    background-size: cover;
}
#gb6{
    background-image: url(images/gb/6.webp);
    background-size: cover;
}
.h3{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 20px;
}
