*{ 
    margin: 0%;
    padding: 0%;
    font-family: monospace;
}
body{
    height: 100%;
    width: 100%;
}
#header1{
    position: fixed;
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: rgb(159, 179, 179);
}
#header1 p{
    padding: 5px;
    
}
#header2{
    position: fixed;
    height: 15%;
    width: 100%;
}
#logo{
    height: 10px;
}