*{
    margin: 0;
    padding: 0;
}
.box{
    height: 100px;
    width: 100px;
    border:2px black solid;
    margin: 20px;
}
#box1{
    background-color: red;
    text-align: center;
}
#box2{
    background-color: green;
    text-align: right;
}
#box3{
    text-align: left;
    background-color: blue;
}