*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
    width: 100%;
}
div{
    border: 2px solid black;
    margin: 10px;
    display: flex;
}
#d1{
    height: 100px;
    width: 100px;
    background-color:aqua;
    transition-property: all;
    transition-duration: 4s;
}
#d1:hover{
    background-color: red;
}
#d2{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: linear;
}
#d2:hover{
    background-color: blue;
}
#d3{
    height: 100px;
    width: 100px;
    background-color: chocolate;
    transition-property: all;
    transition-duration: 7s;
    transition-timing-function: ease-in-out;
}
#d3:active{
    background-color: rgb(255, 20, 184);
}
#d7{
    height: 100px;
    width: 100px;
    background-color: deeppink;
    transition-duration: 4s;
    transition-property: all;
    transition-timing-function: steps(5);
    transition-delay: 5s;
}
#d7:hover{
    background-color: darkorange;
}