*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(253, 237, 219);
}
h1{
    color: tomato;
    
}
p{
    color: rgb(0, 0, 255);
}
button{
    color: brown;
   
}
#box{
    height: 50px;
    width: 100px;
    background-color: blue;
}
#box h1{
    color: yellow;
}
.heading{
    color: red;
}
.button{
    color: blue;
    background-color:whitesmoke;
}
.button:hover{
    background-color: aqua;
}
#practiceset{
    text-align: center;

}
.practicetwo{
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
    text-align: left;
    color: chartreuse;
    text-decoration: underline brown wavy;
}
#inner{
    font-size: 10px;
    text-align: right;
    color: chocolate;
}