*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
    width: 100%;
}
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin-bottom:50px;
    position: relative;
}
#d1{
    background-color: chartreuse;
    animation: d1 3s ease infinite normal ;
}
@keyframes d1{
    from{
        left: 0px;
        background-color: chartreuse;
    }
    to{
        left: 300px;
        background-color: blue;
    }
}

#d2{
    background-color: rgb(255, 0, 234);
    animation: d2 3s ease infinite reverse ;
}
@keyframes d2{
    from{
        left: 0px;
        background-color:rgb(255, 0, 234) ;
    }
    to{
        left: 300px;
        background-color: rgb(0, 255, 64);
    }
}

#d3{
    background-color: rgb(255, 102, 0);
    animation: d3 3s ease infinite alternate ;
}
@keyframes d3{
    from{
        left: 0px;
        background-color: rgb(255, 102, 0);
    }
    to{
        left: 300px;
        background-color: rgb(0, 86, 29);
    }
}

#d4{
    background-color:brown;
    animation: d4 3s ease infinite alternate-reverse ;
}
@keyframes d4{
    from{
        left: 0px;
        background-color:brown;
    }
    to{
        left: 300px;
        background-color:rgb(234, 0, 255);
    }
}