*{
    margin:0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
div{
    height: 150px;
    width:200px;
    background-image: url("joshua-kettle-MbrDHQfskuQ-unsplash.jpg");
    background-size: cover;
    
}
h3{
    color: rgb(0, 17, 255);
}