*{
    margin: 0;
    padding: 0;
}
#alignself{
    height: 500px;
    width: 500px;
    border: 4px solid black;
    display:flex;
    background-color: rgb(175, 247, 115);
}
.box{
    margin: 5px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
#order{
    height: 500px;
    width: 500px;
    border: 4px solid black;
    background-color: rgb(133, 252, 252);
    display: flex;
}
#b1{
    background-color: red;
    order: 3;
}
#b2{
    background-color: blue;
    align-self: self-end;
    order: 5;
}
#b3{
    background-color: deeppink;
    align-self: center;
    order:4;
}
#b4{
    background-color: green;
    align-self: flex-start;
    order: 1;
}
#b5{
    background-color: orangered;
    order: 2;
}
