*{
    margin: 0%;
    padding: 0%;
}
body,html{
    height: 100%;
    width: 100%;
    text-align: center;
  
}
#box{
    margin: 10px;
    height: 300px;
    width: 800px;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
     justify-content: flex-end;
     justify-content: center;
     justify-content: space-between;
     justify-content: space-evenly;
    */
  justify-content: space-around;
}
#box1{
   
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: red;
}
#box2{
  background-color: greenyellow;
    height: 50px;
    width: 50px;
    border: 2px solid black;
}
#box3{
    background-color: rgb(255, 0, 255);
    height: 50px;
    width: 50px;
    border: 2px solid black;
}
#box4{
   background-color: blue;
    height: 50px;
    width: 50px;
    border: 2px solid black;
}
