*{
    margin: 0;
    padding: 0;
}
button{
    height: 30px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: linear;
    transition-delay: 0s;
    /* transition: all 4s ease-in-out; */
}
button:hover{

    background-color: blue;
}
button:active{
    background-color: green;
}
