*{
    margin: 0%;
    padding: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
   
}
#header{
    height: 15%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
   justify-content:space-around;
   background-color: white;
  
}
#logo{
    margin: 20px;
    height: 70%; 
}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text{
    padding: 10px;
    color: rgb(19, 0, 126);
}
.text:hover{
    color: rgb(2, 183, 207);
}
#contact{
   text-align: center;
  
   font-weight: lighter;
   color: rgb(64, 64, 231);
}
.icon{
  padding: 10px;
  border-radius: 50%;
}
.icon:hover{
    background-color: lightblue;
}
#login{  
    padding: 10px;
    border-radius: 50px;
}
#login:hover{
    background-color: lightblue;
}
#try{
    padding: 10px;
    background-color: rgb(44, 125, 44);
    border-radius: 5px;
    color: white;
}
#try:hover{
    background-color:rgb(2, 43, 2);
}


#fakeheader{
    height: 15%;
    width: 100%;
}
#page1{
    height: 85%;
    width: 100%;
    
}
#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(10, 10, 127);
    display: flex;
    align-items: center;
}
#strip img{
    margin-left: 25%;
}
#strip p{
    color: white;
    margin-left: 30px;
}
#strip u:hover{
    color: greenyellow;
}
#content{
    height: 76%;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-items: center;
    margin:10px;
}
#box1{
  margin: 10px;
    height: 100%;
    width: 50%;
    
    
}
#box1 h1{
    margin: 40px;
  font-weight: 900px;
  font-size: xx-large;
}
#box1 p{
    margin: 40px;
  font-weight: 500;
  font-weight:normal;
  }
#but{
    display: flex;
    margin-left: 10px;
    
    }
    #but1{
        border-radius: 5px;
        text-align: center;
        margin: 10px;
        width: 23%;
        padding: 10px 20px;
        color: white;
        border:3px double rgb(4, 101, 139);
        background-color: rgb(27, 2, 97);
    }
    #but2{
        border-radius: 5px;
        text-align: center;
        margin: 10px;
        width: 23%;
        padding: 10px 20px;
        color:rgb(113, 206, 243);
        border:2px solid rgb(113, 206, 243);
     
    }
    #but2:hover{
        color: rgb(11, 11, 129);
        border: 2px solid rgb(11, 11, 129);
        background-color: rgb(206, 243, 255);
    }
#box2{
  margin: 10px;
    height: 100%;
    width: 50%;
    
}
#box2 video{
    height: 100%;
    width: 100%;
}
#heading{
    height: 16%;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}



#page2{
    height: 85%;
    width: 100%;
    background-color: rgb(135, 243, 162);
}
