*{
    margin: 0%;
    padding:0%;
}
html,body{
    background-color: rgb(126, 247, 207);
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape{
    margin-left: 10px;margin-top: 10px;
    height: 200px;
    width: 200px;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#square:hover{
    background-color: red;
    
}
#diamond{
    margin-top: 70px;
    rotate: 45deg;
}
#circle{
    border-radius: 50%;
}
#diamond:hover{
    background-color:yellow;
}
#circle:hover{
    background-color: blue;
}
#diamond h1{
    rotate: -45deg;
}