*{
    margin: 0;
    padding: 0;
}
#container{
    height: 500px;
    width: 500px;
    border: 4px solid black;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;
    background-color: darkgrey;
}
.box{
    height: 100px;
    width: 100px;
    margin: 7px;
    border: 2px solid black;
}