*{
    margin: 0%;
    padding: 0%;
}
div{
    height: 100%;
    width: 100%;  
}
#loder{
    height: 100px;
    width: 100px;
    border: rgb(210, 105, 197) 5px solid;
    border-radius: 50%;
    border-top:black 5px solid;
    animation:loder 3s linear infinite normal;
    
}
@keyframes loder{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}