*{
    margin: 0;
    padding: 0;
}
#property{
    height: 400px;
    width: 800px;
    margin: 100px;
    border: 4px solid black;
    background-color:rgb(186, 160, 238);
    display: flex;
    /* justify-content: center; */
    justify-content: end;
    /* justify-content:flex-start; */
    /* justify-content: flex-end; */
    /* justify-content:space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    text-align: center;
}
.box{
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 2px solid black;
}
#b1{
    background-color: red;
}
#b2{
    background-color: blue;
}
#b3{
    background-color: green;
}
#b4{
    background-color: brown;
}