*{
    margin: 0;
    padding: 0;
}
#container{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    background-color: rgb(146, 241, 249);
}
#b1{
    background-color: red;
    grid-column: 1/2;
    grid-row: 1/2;

}
#b2{
    background-color: blue;
    grid-row: 1/2;
    grid-column: 2/2;
}
#b3{
    background-color: deeppink;
    grid-column: 1/2;
    grid-row: 2/2;
}
#b4{
    background-color: goldenrod;
    grid-column: 2/2;
    grid-row: 2/2;
}