*{
    margin: 0%;
    padding: 0%;
    /* color: white; */
    text-decoration: none;
}
#nav{
    height: 60px;
    background-color:  #0f1111;
    display: flex;
    align-items: center;
}
#logo{
    color: rgb(227, 106, 36);
    font-size: 25px;
    margin-left: 10px;
}
a{
    margin-right: 150px;
    color: white;
}
button{
    background-color: rgb(227, 106, 36);
}