*{
    margin: 0%;
    padding: 0%;
    border:border-box;
}
#navbar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
}
/* .navlogo{ 
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url(IMAGES/logo.png);
    background-size: cover;
} */