*{
    margin: 0;
    padding: 0;
}
#container{
    margin: 20px;
    height: 200px;
    width: 500px;
    border: 2px solid black;
}
.box{
    height: 100px;
    width: 100px;
    margin: 5px;
    border:2px solid black
}
#box1{
    background-color: darkorchid;
    float: right;
}
#box2{
    background-color: deeppink;
    float: left;
}