*{
    margin: 0%;
    padding: 0%;
}
body,hmtl{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    border: 2px black solid;
    margin: 10px;
}
#container{
    height: 300px;
    width: 800px;
    display: flex;
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
     */
    justify-content: space-between;
}
#box1{
    background-color: red;
}
#box2{
    background-color: green;
}
#box3{
    background-color: brown;
}
#box4{
    background-color: rgb(255, 0, 212);
}
#box5{
    background-color: blue;
}