*{
    margin: 0%;
    padding:0%;

}
html,body{
    height:100%;
    width: 100%;
}
h1{
    margin-top: 10px;
    margin-left: 500px;
}
#traffic{
    display: flex;
    align-items: centers;
    justify-content: center;
    
}
#poll{
    margin-top: 150px;
    height: 70vh;
    width: 20px;
    background-color: rgb(0, 0, 0);

}
#vpoll{
    
    margin-top: 170px;
    height: 20px;
    width: 30vw;
    background-color: black;
}
#light{
    height: 300px;
    width: 100px;
    background-color: rgb(20, 11, 11);
    margin-top: 100px;
}
#box1{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px;
}
#box1:hover{
    transition-duration: 5s;
    background-color: red;
}
#box2{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px;
  
}
#box2:hover{
    transition-duration: 5s;
    background-color: yellow;
}
#box3{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px;
} 
#box3:hover{
    transition-duration: 5s;
    background-color:green;
}
