*{
    margin: 0;
    padding: 0;
    color: darkorange;
}
#wrap{
    margin: 20px;
    height: 500px;
    width: 300px;
    background-color: wheat;
    border: 5px solid black;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
}
.box{
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 2px solid black;
}
#b1{
    background-color: red;
}
#b2{
    background-color: blue;
}
#b3{
    background-color: green;
}
#b4{
    background-color: brown;
}
