*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#all{
    height: 100%;
    width: 100%;
    
}
#nav{
    height: 50px;
    background-color: rgb(20, 19, 19);
    display: flex;
    align-items: center;
    
}
#logo{
    font-size: 25px;
    color: rgb(229, 105, 29);
    text-decoration: none;
    margin-left: 10px;
}
a{
    text-decoration: none;
    margin-right: 150px;
    color: white;
}
button{
    background-color: rgb(229, 105, 29);
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
   
}
.box1{
    height: 100px;
    width: 100px;
    background-color: rgb(47, 104, 239,0.30);
    margin: 10px;
    padding: 25px;
    border: 2px dashed black;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: rgb(47, 104, 239,0.50);
    margin: 10px;
    padding: 25px;
    border: 2px dashed black;
}
.box3{
    height: 100px;
    width: 100px;
    background-color: rgb(47, 104, 239,0.80);
    margin: 10px;
    padding: 25px;
    border: 2px dashed black;
}
footer{
    height: 50px;
    background-color: rgb(20, 19, 19);
    color: whitesmoke;
    display: flex;
    justify-content: center;
}