*{
    margin: 0%;
    padding:0%;
}
body{
    height: 100%;
    width: 100%;
}
#d1{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    margin: 100px;
}
#d1:hover{
    transform: skew(50deg);
}