*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
    width: 100%;
}
#header{
    background-color: chocolate;
   height: 5%;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; 
}
a{
    color: black;
    text-decoration: none;
}