*{
    margin: 0%;
    padding: 0%;
}
body{
    height:100%;
    width: 100%;
    text-align: center;
}
div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    color: rgb(0, 0, 255);
}
@media(max-width:300px)
{
    div{
        background-image: url("images/photo-1537151672256-6caf2e9f8c95.avif");
        background-size: cover;
    }
}
@media(min-width:300px) and (max-width:400px)
{
    div{
        background-image: url("images/photo-1620428268482-cf1851a36764.avif");
        background-size: cover;
    }
}
@media(min-width:400px) and (max-width:600px)
{
    div{
        background-image: url("images/photo-1626808642875-0aa545482dfb.avif");
        background-size: cover;
    }
}
@media(min-width:600px)
{
    div{
        background-image: url("images/premium_photo-1683910767532-3a25b821f7ae.avif");
        background-size: cover;

    }
}